
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us:</h1>

<p>Have a question?</p>
<p>Send us an email at <a href="jamesvgs@jamesvgs.net"></a>jamesvgs@jamesvgs.net</p>
<p>Call us at 559-924-1234</p>


