@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to James Video Games Store</h1>
        <p class="lead">Browse our collection of the latest and greatest video games!</p>
        <a class="btn btn-primary btn-lg" href="Games" role="button">Explore Games</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>Learn more about our store and our mission to provide the best gaming experience.</p>
            <a class="btn btn-secondary" href="Home/About" role="button">Learn more</a>
        </div>
        <div class="col-md-4">
            <h2>Featured Games</h2>
            <p>Check out some of our top-selling games and latest releases.</p>
            <a class="btn btn-secondary" href="Games" role="button">View Featured Games</a>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Have questions or feedback? Contact us today!</p>
            <a class="btn btn-secondary" href="Home/Contact" role="button">Get in touch</a>
        </div>
    </div>
</div>


