
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About James Video Game Store</h2>
            <p>
                James Video Game Store is a small business that sells video games and video game accessories. We have been in business for over 10 years and have a wide selection of video games for all consoles. We also have a selection of video game accessories such as controllers, headsets, and more. Our store is located in the heart of downtown and we are open 7 days a week. We have a friendly staff that is always willing to help you find the perfect game or accessory for you. We also have a trade-in program where you can trade in your old games for store credit. Come visit us today and see why we are the best video game store in town!
            </p>
        </div>
    </div>
